<div class="footer-wraper">
	<div class="fw-top">
		<div class="fw-top-logo">
			<div class="line">		
			</div>
			<div class="logo-wrap">
				<i class="iconfont icon-weibo"></i>
				<i class="iconfont icon-weixin"></i>
				<img class="footer-erweima" src="/static/images/erweima.jpg"/>
			</div>
		</div>
		<div class="fw-top-info">
			<div class="fw-addres">	
				<h3>地址  Our store</h3>
				<div class="words">
					<p>上海市浦东新区祖冲之路2277弄1号3楼</p>
					<p>021-60451299 转 8835</p>
					<p>sales@howartmuseum.org</p>
					<p>周二至周五营业时间 13：00-22：00</p>
					<p>周六至周日营业时间 10：00-22：00</p>
				</div>
			</div>
			<div class="fw-ulWraper">	
				<ul>
					<li class="firstLi"><a href="javascript:;">关于我们</a></li>
					<li><a href="javascript:;">HOW设计中心</a></li>
					<li><a href="javascript:;">合作渠道</a></li>
					<li><a href="javascript:;">空间定制</a></li>
				</ul>
				<ul>
					<li class="firstLi"><a href="javascript:;">购物指南</a></li>
					<li><a href="javascript:;">会员制度</a></li>
					<li><a href="javascript:;">积分规则</a></li>
					<li><a href="javascript:;">配送与订单</a></li>
					<li><a href="javascript:;">验货与签收</a></li>
				</ul>
				




				<ul>
					<li class="firstLi"><a href="javascript:;">支付方式</a></li>
					<li><a href="javascript:;">支付方式</a></li>
					<li><a href="javascript:;">支付问题</a></li>
					<li><a href="javascript:;">发票制度</a></li>
					<li><a href="javascript:;">优惠券</a></li>
				</ul>
				



				<ul>
					<li class="firstLi"><a href="javascript:;">售后服务</a></li>
					<li><a href="javascript:;">退货政策</a></li>
					<li><a href="javascript:;">退货流程</a></li>
					<li><a href="javascript:;">退货方式及时间</a></li>
				</ul>
			</div>
		</div>

	</div>
	<div class="fw-bottom">		
		<div class="fw-bottom-wraper">
			<a href="javaecript:;">沪ICP备17012793号</a><span> |Copyright © 2015</span><a href="javascript:;"> HOWstore</a><span> All Rights Reserved</span>	    
		</div>
	</div>
</div>
