<div id="header_wraper1">
				<a class="header_link" href="javascript:;"><img class="logo1" src="/static/images/mylogo.png"/></a> 
				<div class="welcome">hello, <span id="hello"></span></div>
				<div id="header_right">
					<div class="header_right1">
						<i class="iconfont icon-geren6" ></i>
						<span class="login" ><a href="/html/component/signIn.html" class="active-color">登录</a>/<a href="/html/component/signUp.html" class="active-color">注册</a></span>
					</div>
					<div class="header_right2">
						<i class="iconfont icon-gouwuchekong" ></i>
						<span class="login" ><a  id="header-cartEntry" class="active-color">购物车</a></span>
					</div>
					<div class="header_right3">
						<i class="iconfont icon-weixin" ></i>
						<span class="active-color">微信服务</span>
					</div>
					<div class="header_right4">
						<form id="header-form" >
							<input autocomplete="off" type="text" name="wd" class="search" id="header-search" placeholder="请输入关键字"/>
							<button id="header-btn" class="active-color">搜索</button>
						</form>
						<ul id="show-ul"></ul>

					</div>

				</div>
			</div>
<div class="header_wraper2">
				<ul id="bigUl">
					<li><a href="javascript:;"><i class="iconfont icon-shenghuo"></i><span>生活</span> </a>
						<div class="hide_wraper">
							<p><a href="javascript:;">产品分类</a></p>
							<ul class="ul" >
								<li><a href="javascript:;">全部</a></li>
								<li><a href="javascript:;">沙发</a></li>
								<li><a href="javascript:;">桌子</a></li>
								<li><a href="javascript:;">椅子</a></li>
								<li><a href="javascript:;">柜子</a></li>
								<li><a href="javascript:;">灯具</a></li>
								<li><a href="javascript:;">家纺</a></li>
								<li><a href="javascript:;">摆件</a></li>
							</ul>
						</div>
					</li>
					<li><a href="javascript:;"><i class="iconfont icon-Kitchen"></i><span>厨房</span> </a>
						<div class="hide_wraper">
							<p><a href="javascript:;">产品分类</a></p>
							<ul class="ul" >
								<li><a href="javascript:;">全部</a></li>
								<li><a href="javascript:;">茶具</a></li>
								<li><a href="javascript:;">厨房用品</a></li>
								<li><a href="javascript:;">洗具</a></li>
								<li><a href="javascript:;">热门用品</a></li>
								<li><a href="javascript:;">酒具</a></li>
							</ul>
						</div>
					</li>
					<li><a href="javascript:;"><i class="iconfont icon-bangong"></i><span>办公</span></a>
						<div class="hide_wraper">
							<p><a href="javascript:;">产品分类</a></p>
							<ul class="ul" >
								<li><a href="javascript:;">全部</a></li>
								<li><a href="javascript:;">茶具</a></li>
								<li><a href="javascript:;">厨房用品</a></li>
								<li><a href="javascript:;">洗具</a></li>
								<li><a href="javascript:;">热门用品</a></li>
								<li><a href="javascript:;">酒具</a></li>
							</ul>
						</div>
					</li>
					<li><a href="javascript:;"><i class="iconfont icon-peishi-shoubiao-xianxing"></i><span>配饰</span></a>
						<div class="hide_wraper">
							<p><a href="javascript:;">产品分类</a></p>
							<ul class="ul" >
								<li><a href="javascript:;">全部</a></li>
								<li><a href="javascript:;">茶具</a></li>
								<li><a href="javascript:;">厨房用品</a></li>
								<li><a href="javascript:;">洗具</a></li>
								<li><a href="javascript:;">热门用品</a></li>
								<li><a href="javascript:;">酒具</a></li>
							</ul>
						</div>
					</li>
					<li><a href="javascript:;"><i class="iconfont icon-yishu"></i><span>艺术</span></a>
						<div class="hide_wraper">
							<p><a href="javascript:;">产品分类</a></p>
							<ul class="ul" >
								<li><a href="javascript:;">全部</a></li>
								<li><a href="javascript:;">茶具</a></li>
								<li><a href="javascript:;">厨房用品</a></li>
								<li><a href="javascript:;">洗具</a></li>
								<li><a href="javascript:;">热门用品</a></li>
								<li><a href="javascript:;">酒具</a></li>
							</ul>
						</div>
					</li>
					<li><a href="javascript:;"><i class="iconfont icon-shuji"></i><span>书籍</span></a>
						<div class="hide_wraper">
							<p><a href="javascript:;">产品分类</a></p>
							<ul class="ul" >
								<li><a href="javascript:;">全部</a></li>
								<li><a href="javascript:;">茶具</a></li>
								<li><a href="javascript:;">厨房用品</a></li>
								<li><a href="javascript:;">洗具</a></li>
								<li><a href="javascript:;">热门用品</a></li>
								<li><a href="javascript:;">酒具</a></li>
							</ul>
						</div>
					</li>
					<li><a href="javascript:;"><i class="iconfont icon-ertong"></i><span>儿童</span></a>
						<div class="hide_wraper">
							<p><a href="javascript:;">产品分类</a></p>
							<ul class="ul" >
								<li><a href="javascript:;">全部</a></li>
								<li><a href="javascript:;">茶具</a></li>
								<li><a href="javascript:;">厨房用品</a></li>
								<li><a href="javascript:;">洗具</a></li>
								<li><a href="javascript:;">热门用品</a></li>
								<li><a href="javascript:;">酒具</a></li>
							</ul>
						</div>
					</li>
					<li><a href="javascript:;"><i class="iconfont icon-lipin"></i><span>礼品</span></a>
						<div class="hide_wraper">
							<p><a href="javascript:;">产品分类</a></p>
							<ul class="ul" >
								<li><a href="javascript:;">全部</a></li>
								<li><a href="javascript:;">茶具</a></li>
								<li><a href="javascript:;">厨房用品</a></li>
								<li><a href="javascript:;">洗具</a></li>
								<li><a href="javascript:;">热门用品</a></li>
								<li><a href="javascript:;">酒具</a></li>
							</ul>
						</div>
					</li>
					<li><a href="javascript:;"><i class="iconfont icon-zhekou"></i><span>折扣专区</span></a>
						<div class="hide_wraper">
							<p><a href="javascript:;">产品分类</a></p>
							<ul class="ul" >
								<li><a href="javascript:;">全部</a></li>
								<li><a href="javascript:;">茶具</a></li>
								<li><a href="javascript:;">厨房用品</a></li>
								<li><a href="javascript:;">洗具</a></li>
								<li><a href="javascript:;">热门用品</a></li>
								<li><a href="javascript:;">酒具</a></li>
							</ul>
						</div>
					</li>
				</ul>
</div>
