	<script type="text/html" id="payModle-temp">
		{{each list item i}}	
		<!--模板-->

		<div class="review-info-wraper">
			<div class="review-info-cell"><a href="javascript:;"><img src="{{item.src}}"/></a></div>
			<div class="review-info-cell"><span class="review-info-name">{{item.title}}</span></div>
			<div class="review-info-cell"><span class="review-info-price">¥&nbsp;{{item.price}}</span></div>
			<div class="review-info-cell"><span>{{item.amount}}</span></div>
			<div class="review-info-cell"><span class="small-sum" class="review-info-price" ></span></div>
		</div>
		
		{{/each}}
	</script>

