<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/component/productInfo.css"/>
		<link rel="stylesheet" type="text/css" href="/font/iconfont.css"/>
	</head>
	<body>
		<header>
			
			
		</header>
		<div class="middle">
			<div id="breadcrumbs">
				<ul class="crumbs-ul">
					<li><a href="javascript:;">主页</a><span>:</span></li>
					<li><a href="javascript:;">生活</a><span>:</span></li>
					<li><a href="javascript:;"><span class="productTitle" ></span></a></li>
				</ul>
			</div>
			<div class="main">
				<div class="product-img-box">
					<div class="small-pic">
						<img class="singleProduct" />
					</div>
					<div class="big-pic" id="big-pic" >
						<img class="singleProduct" xq_big="true"   setting='{"pwidth":400,"pheight":400,"margin_top":62,"margin_left":8}'/>
					</div>
				</div>
				<div class="product-shop">
					<div class="product-name">
						<h2 class="productTitle"></h2>
						<div class="small-logo"><a href="javascript:;">TIEBU</a></div>
					</div>
					<div class="price">
						<span>¥</span><span class="product-price"></span>
					</div>
					<div class="short-description">
						<p><span class="product-description">材质</span>：pc</p>
						<p><span class="product-description">尺寸</span>：46mm x 47mmx0.35mm</p>
					</div>
					<div class="iconfont">
						<li class="ioart io-icon1"><em class="tooltip">正品保证</em><span></span></li>
						
					</div>
					<div class="add-to-cart">
						<div class="add-box">
							<div class="qty-btn">
								<input type="text" class="qty-input" value="1"/>
								<div class="qty-control">
									<div class="qty-add active-color">+</div>
									<div class="qty-cut active-color">-</div>
								</div>
							</div>
						</div>
						<div class="add-to-cart-btn active-color" >
							<a href="javascript:;">加入购物车</a>
						</div>
						<div class="share-box">
							<div class="collect-btn active-color" ><a href="javascript:;">收藏</a></div>
							<div class="share-btn active-color" ><a href="javascript:;">分享</a></div>

						</div>

					</div>
					<div class="deadline">
							预计 提交订单后四天内发货。
					</div>
					<div class="cart-erweima">
						<p><img src="/static/images/cart-erweima.png"/></p>
						<p>扫码手机购买</p>
					</div>
				</div>
			</div>
			<!--//产品附属信息-->
			<div class="product-collateral">
				<div class="collateral-tabs">
					<div class="actice"><a href="javascript:;">产品详情</a> </div>
					<div ><a href="javascript:;">用户评论</a></div>
				</div>
				<div class="tabs-content">
					<div class="description_left">
					    <div class="std">
					      Fulton与Cath Kidston的联名设计，冬日星空、巴士、伦敦塔的钟声，把伦敦圣诞节以一种更鲜活、梦幻的方式呈现，通篇蓝色华丽点缀各种减龄，全新的透明防晒涂层，UPF50+，能阻隔阳光中伤害皮肤的不可见光。除了伞套，还附赠配套同色系小肩包非常实用，让你美美哒出门，满满的童趣随身携带。          <div class="details_info">
					
					      <div class="details_info_content">
							<p><span>品牌</span><span>FULTON</span></p>
							<p><span>打开方式</span><span>手动</span>	</p>
					      </div>
					    </div>
					    </div>
 					 </div>
 					 
 					<div class="description-right">
					            <h2><span class="word1">品牌故事</span> </h2>
					        <a class="brand-logo" href="http://www.ioart.com/fulton.html">
					            <img src="http://static.ioart.com/media/attributesplash/cache/729a6e_205x205/fulton_logo.png" alt="FULTON">
					        </a>
					        <!-- <p></p> -->
					        <div class="brand-detail">
					            <p>富尔顿 (FULTON) 由具有50年制伞经验的 Arnold Fulton 于1956年创立。Arnold 把伦敦时尚和新设计理念巧妙的融入雨伞中，发明了许多新型雨伞生产技术，并设计了不同款式的新型雨伞伞形，其中最为著名的是为英国皇室女王伊丽莎白二世特别量身订做的“Birdcage”。它打破了传统雨伞的单调模式，最大程度把英国皇室独具一格的传统和现代时尚融合一体。凭着精湛的制造技术和时尚的产品创意，富尔顿被英国皇室指定为唯一受女王伊莉莎白二世御用的雨伞供应商，也是英国皇室所钟爱的雨伞品牌，被授予"Royal Warrant Holders"(英国皇室认证御用品)的最高荣誉。</p>        </div>
   					</div> 
				</div>
				<!--推荐商品-->
				<div class="recommend">
					<h3>推荐</h3>
					<ul class="recommend-main">
						<li><a href="javascript:;"><img src="/static/images/1_40_48.jpg"/></a>
							
							
							<div class="recommend-detalis">
								<h3 class="product-name"><a href="http://www.ioart.com/4379.html">酒红色边鸟笼伞</a></h3>																																						
								<div class="price-box">                                                                              				                                 
								    <span class="price-label">Special Price</span>                
								    <span class="recommend-price" id="product-price-4379"><span>¥&nbsp;399.00</span>    </span>	                       
								</div>								
							</div>
							
						</li>
						<li><a href="javascript:;"><img src="/static/images/1_40_48.jpg"/></a>
							
							
							<div class="recommend-detalis">
								<h3 class="product-name"><a href="http://www.ioart.com/4379.html">酒红色边鸟笼伞</a></h3>																																						
								<div class="price-box">                                                                              				                                 
								    <span class="price-label">Special Price</span>                
								    <span class="recommend-price" id="product-price-4379"><span>¥&nbsp;399.00</span>    </span>	                       
								</div>								
							</div>
							
						</li>
						<li><a href="javascript:;"><img src="/static/images/1_40_48.jpg"/></a>
							
							
							<div class="recommend-detalis">
								<h3 class="product-name"><a href="http://www.ioart.com/4379.html">酒红色边鸟笼伞</a></h3>																																						
								<div class="price-box">                                                                              				                                 
								    <span class="price-label">Special Price</span>                
								    <span class="recommend-price" id="product-price-4379"><span>¥&nbsp;399.00</span>    </span>	                       
								</div>								
							</div>
							
						</li>
						<li><a href="javascript:;"><img src="/static/images/1_40_48.jpg"/></a>
							
							
							<div class="recommend-detalis">
								<h3 class="product-name"><a href="http://www.ioart.com/4379.html">酒红色边鸟笼伞</a></h3>																																						
								<div class="price-box">                                                                              				                                 
								    <span class="price-label">Special Price</span>                
								    <span class="recommend-price" id="product-price-4379"><span>¥&nbsp;399.00</span>    </span>	                       
								</div>								
							</div>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
		<footer>
			
		</footer>
			<script src="/libs/require/require.js" data-main="/js/component/productInfo.js" type="text/javascript">
		
			</script>
	</body>
</html>
