<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<script src="/libs/require/require.js" data-main="/js/component/signIn.js" type="text/javascript">	
	</script>
	<link rel="stylesheet" type="text/css" href="/css/component/signIn.css"/>
	<link rel="stylesheet" type="text/css" href="/font/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css"/>
	<body>
		<header>
			
		</header>
		<div class="middle">
			<div class="middle-wraper">
				<form id="demo" autocomplete="off">
				    <p>
				        <span class="tip">用户名：</span>
				        <input type="text" id="username" name="username" class="plugin-input">
				    </p>
				    <p class="prompot"></p>
				    <p>
				        <span class="tip">密码：</span>
				        <input type="password" name="password" id="password" class="plugin-input">
				    </p>
				    <p class="prompot"></p>
				    <div id="check-wraper">
					<input type="checkbox" checked="checked" id="rememberMe" /><span>记住我</span>
				    </div>

				    <button>确认</button>
				</form>						
					
			</div>
		</div>
		<footer>
			
		</footer>
	</body>
</html>
