<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<script src="/libs/require/require.js" data-main="/js/component/signUp.js" type="text/javascript">
		
	</script>
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/css/component/signUp.css"/>
	<link rel="stylesheet" type="text/css" href="/font/iconfont.css"/>
	<body>
		<header>
			
		</header>
		<div class="middle">
			<div class="middle-wraper">
				<!--登录框-->
				<form id="demo" autocomplete="off">
				    <p>
				        <span class="tip">用户名：</span>
				        <input type="text" name="username" class="plugin-input">
				    </p>
				    <p class="prompot"></p>
				    <p>
				        <span class="tip">密码：</span>
				        <input type="password" name="password" id="password" class="plugin-input">
				    </p>
				    <p class="prompot"></p>
				    <p>
				        <span class="tip">确认密码：</span>
				        <input type="password" name="password2" class="plugin-input">
				    </p>
				    <p class="prompot"></p>
				    <p>
				        <span class="tip">手机号码：</span>
				        <input type="text" name="tel" class="tel" class="plugin-input">
				    </p>
				    <p class="prompot"></p>
				    <p>
				        <span class="tip">性别：</span>
				        <input type="radio" name="sex" vlaue="1"><span class="radioSpan">男</span>
				        <input type="radio" name="sex" vlaue="2"><span class="radioSpan">女</span>
				    </p>
				    <p class="prompot"></p>
				    <p class="prompot"></p>
				    <button>确认</button>
				</form>	
					
			</div>
		</div>
		<footer>
			
		</footer>
	</body>
</html>