<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<script src="/libs/require/require.js" data-main="/js/component/signUp.js" type="text/javascript">
		
	</script>
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/css/component/signUp.css"/>
	<link rel="stylesheet" type="text/css" href="/font/iconfont.css"/>
	<body>
		<header>
			
		</header>
		<div class="middle">
			<div class="middle-wraper">
				<!--登录框-->
				<button id="signIn" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					  
					</button>
					
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-show="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel">欢迎您的加入</h4>
					      </div>
					      <div class="modal-body" id="modal-body">
					        <form id="signIn-form">
					        	<input type="text" class="password" placeholder="手机号或邮箱"/>
					        	<input type="text" class="username" placeholder="用户名"/>
					        	<input type="text" class="password" placeholder="密码"/>

					        	<div class="signInInfo2"><span>加入我们，即可开始享受不一样的生活</span></div>
					        </form>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">确认注册</button>
					        <button type="button" class="btn btn-primary">立即登录</button>
					      </div>
					    </div>
					  </div>
					</div>
					
					
			</div>
		</div>
		<footer>
			
		</footer>
	</body>
</html>