*{	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
#header_wraper1{
	width: 1200px;
	height: 60px;
	background-color: black;
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#header_wraper1 .header_link{
	display: block;
	width: 130px;
	height: 45px;
	float: left;
	margin-left:28px ;
}
#header_wraper1 .logo1{
	display: block;
	width: 130px;
	height: 45px;
}
#header_right{
	width: 450px;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	float: right;
	color: white;
}
#header_right a{
	color: white;
	font-size: 14px;
}
#header_right i{
	color: white;
	font-size: 16px;
}
#header_right span{
	font-size: 14px;
	color: white;
}
.header_right1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100px;
	height: 25px;
}
.header_right2{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 85px;
	height: 18px;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.header_right2 a{
	font-size: 14px;
}
.header_right3{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100px;
	height: 18px;
	border-right:1px solid white ;
}
.header_right3 i{
	font-weight: 600;
}
.header_right1 i{
	float: left;
	margin-right: 10px;
}
.header_right4 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 125px;
	height: 25px;
}
.header_right4 .search{
	width: 83px;
}
.header_right4 button{
	width: 40px;
}

/*下头部*/
.header_wraper2{
	width: 1200px;
	height: 95px;

	position: relative;
	margin: 0 auto;
	border-bottom: 2px solid #b2b2b2;
}
.header_wraper2 ul{
	height: 95px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.header_wraper2 ul li{
	width: 95px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header_wraper2 ul i{
	color: #ababab;
	font-size: 31px;
	display: block;
	height: 32px;
	margin-bottom: 5px;
}
.header_wraper2 ul a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ababab;
}
/*隐藏的下拉列表*/
.header_wraper2 .hide_wraper{
	color:#ababab ;
	position: absolute;
	top: 95px;
	z-index: 10;
}
.header_wraper2 .hide_wraper p{
	margin-top: 5px;
}
.header_wraper2 .hide_wraper ul{
	width:180px;
	height: 287px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.header_wraper2 .hide_wraper ul li{
	font-size: 15px;
	display: flex;
	flex-direction:row;
	justify-content: flex-start;
}
.header_wraper2 .hide_wraper ul li a:hover{
	color: hotpink;
}
 
.header_wraper2 .hide_wraper ul li a{
	display: block;
	color: black;
}
