@import "header.scss";
@import "footer.scss";
.middle{
    width: 1200px;
    min-height: 510px;
    margin: 20px auto;
    background: url(/static/images/login-bg.jpg);
    background-image: 510px;
    overflow: hidden;
}
#demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 398px;
    min-height: 300px;
    background: #fff;
    box-shadow: 0 4px 20px 0 #ddd;
    margin: 0 auto;
    margin-top: 90px;
    padding: 20px;
    font-size: 16px;
    font-family: '微软雅黑';
    line-height: 50px;
}
p .tip {
    display: inline-block;
    width: 100px;
    margin-right: 15px;
    text-align: right;
    float: left;
}
input[type="text"],input[type="password"] {
    outline: none;
    width: 200px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 3px;
    text-indent: 15px;
    font-size: 16px;
    font-family: '微软雅黑 ';
}
input[type="radio"],input[type="checkbox"]{
    display: inline-block;
    outline: none;
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 17px;
    margin-right: 3px;
    cursor: pointer;
}
.radioSpan,.checkboxSpan {
    float: left;
    display: inline-block;
    width: 50px;
}
button {
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background: #73d66e;
    border: 1px solid #96d293;
    line-height: 40px!important;
    margin-left: 115px!important;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
/*设置默认的错误提示的样式*/
.prompot {
    margin-left: 115px;
    max-width: 485px;
    clear: both;
}
.false {
    color: red;
}
.right {
    color: green;
}
input.false {
    border: 1px solid red;
}
input.right {
    border: 1px solid green;
}
#header-btn{
    margin-left: 0!important;
    line-height: 25px!important;
}
#check-wraper{
    width:100px;
    height: 16px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    span{
        display: inline-block;
        height: 16px!important;
        line-height: 16px!important;
        font-size: 15px;
    }
}
